<?xml version="1.0" encoding="UTF-8"?>
<fragment>
  <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
    <delegateCommandHandler class="org.eclipse.jdt.ls.core.internal.ProjectsManagerTestCommand">
      <command id="jdtls.test.projectsManager"/>
    </delegateCommandHandler>
  </extension>
</fragment>
